



.click_me:link
{
    background-color: blue;
    color: yellow;
    padding: 25px;
}

.div_shadow:hover{
    box-shadow: 1px 2px 3px 12px
    rgba(4,5,6,.8);
}



.click_me:hover{
    background-color:green;
    color: greenyellow;
    padding: 25px;

}

.click_me:visited{
    background-color:red;
    color: blue;
    padding: 25px;

}
.click_me:active{
    background-color:orange;
    color: purple;
    padding: 25px;

}







/* group selector : yapılarımızı toplu 
alacağımız anlamına gelmekte */
/* yıldızın anlamı bütün bodylere eriş anlamına geliyor */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div içindeki tüm p ler */
div>p{
    color: yellow;
}
/*div  aynı seviye */
div ~ p{
    color: red;
    font-size: 25px;
}
/*div  aynı seviyede ilk p */
div + p {
    color: green;
    font-size: 15px;
}


ul{
    list-style-type: none;
    text-decoration: none;
   
}

ul li{
    background: red;
    margin-top: 5px;
    text-align: center;
    padding: 8px;
}

ul li:last-child{
    background: blue;
}



.clearfix:after{
    content: "";
    clear:both;
    display: block;
}




.text4{
    margin-bottom: 35px;
    text-align: justify;
    text-decoration: none;
    text-transform: lowercase;
    text-indent: 25px;
    text-shadow: 0.1px 0.1px;
    letter-spacing: 0.5px;
    line-height:20px;
    word-spacing: 0.2px;
    column-count: 3;
    column-rule: 3px solid red;

    /* h-w */
    display: inline-block;
    
}



/* renkler 0 (siyah)
renkler f (beyaz) */
div {
    width: 250px;
    height: 250px;
    color: rgba(20, 7, 32, 0.9);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 35px 40px 35px 42px;
    margin-top: 40px;
    border-top:8px solid blue ;
    border-radius: 100%;
}
#unique{
    font-size:25px;
    font-weight:600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
/* class */
.bilgeadam_class{
    color:red;
    font-size: 3rem;
}

/* id */
#bilgeadam_id{
    color:black;
    /* !important: zorunlu görev */
    font-size: 4rem!important;
}